<!DOCTYPE html>
<html lang="en" ng-app="salCalc">
<head>
	<meta charset="UTF-8">
	<link href="bower_components/twitter/dist/css/bootstrap.css" rel="stylesheet"></link>
	<title>Salary Calulator</title>
	<script src="bower_components/angular/angular.js"></script>
	<script src="app.js"></script>

	<style>
		h1 {
			text-align: center;
			font-weight: 100;
		}
	</style>
</head>
<body>

	<h1>Salary Calculator</h1>

	<div ng-controller="SalaryCalculatorController" >
		<!--
		<div class="sal-results col-sm-3 col-sm-offset-2">
			<div>
				<h5>Hourly Rate</h5>
				<h4>{{ sal.hourly  | currency}}</h4>
			</div>
			<div>
				<h5>Weekly Rate</h5>
				<h4>{{ sal.weekly  | currency}}</h4>
			</div>
			<div>
				<h5>Annual Rate</h5>
				<h4>{{ sal.annual  | currency}}</h4>
			</div>
		</div>
		-->
		<div class="col-sm-6 input-sm">
			<div class="form-group">
				<label class="control-label">Hourly Rate</label>
				<div class="">
					<input type="text" class="form-control" fro-integer ng-model="sal.hourly" ng-change="calculateByHour()"/>
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label">Annual Rate</label>
				<div class="">
					<input type="text" class="form-control" fro-integer ng-model="sal.annual" ng-change="calculateByYear()"/>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label">Hours per Day</label>
				<div class="">
					<input type="text" class="form-control" fro-integer ng-model="sal.hoursPerDay" ng-change="calculateByHour()"/>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label">Days per Week</label>
				<div class="">
					<input type="text" class="form-control" fro-integer ng-model="sal.daysPerWeek" ng-change="calculateByHour()"/>
				</div>
			</div>
		</div>


		<div class="col-sm-6">
			<table class="table">
				<thead>
					<tr>
						<th style="width:50%;">Rate</th>
						<th>Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Hourly</td>
						<td>{{ sal.hourly  | currency}}</td>
					</tr>
					<tr>
						<td>Weekly</td>
						<td>{{ sal.weekly  | currency}}</td>
					</tr>
					<tr>
						<td>Biweekly</td>
						<td>{{ sal.biweekly  | currency}}</td>
					</tr>
					<tr>
						<td>Bimonthly</td>
						<td>{{ sal.bimonthly  | currency}}</td>
					</tr>
					<tr>
						<td>Monthly</td>
						<td>{{ sal.monthly  | currency}}</td>
					</tr>
					<tr>
						<td>Annual</td>
						<td>{{ sal.annual  | currency}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		



		
	</div>

	<script>
		
	</script>
</body>
</html>